#nav {
    background-color: rgba(0,0,0,0) !important;
}

#region {
    height: calc(100vh - 85px);
    width: 100vw;
}

#frame {
    height: calc(100vh - 85px - 80px);
}

canvas {
    height: 100%;
    width: 100%;
    background-color: #F5FCFC;
}